<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    
    
        <nav class="navbar navbar-style navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
              <img src="/images/pic2.jpg" alt="" height="60" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customer">View All Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/transaction">Transaction History</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="main">
        <div class="container">
          <div class="row">
              <div class="col-md-6 text-center pt-5">
                <h1>Welcome to</h1>
                <h1 class="big-text">ABC Bank</h1>
              </div>
              <div class="col-md-6 text-center pt-3 pb-3">
                <img src="/images/pic4.jpg" width="400" height="400" />
              </div>
           
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row pt-5 text-center">
          <div class="col">
            <a class="btn btn-first" href="/customer">Transfer Money</a>
            <a class="btn btn-first" href="/transaction">Transaction History</a>
          </div>
        </div>
      </div>

      <footer class="bg-light text-dark pt-5 pb-4 mb-0">
        <div class="container">
          <div class="row">
            <div class="col last">
              <p class="text-center fw-bold">Copyright @2021, Sparks Foundation, by Avijit Karati</p>
            </div>
          </div>
        </div>
      </footer> -->
    <!-- CSS only -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> 
     


</body>
</html>

<!--
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="header">
            <div class="logo"><a href="">BANK</a></div>
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Transfer Money</a></li>
            <li><a href="">View History</a></li>
        </ul>
        </div>
        
    </nav>
    
    <section class="home" id="home">
        <div class="header">
        <div class="home-content">
            <div class="text-1">Welcome to <span>ABC BANK</span></div>
            <div class="right"><img src="./images/pic1 (2).jpg"></div>
        </div>
        
    </div>
    </section>
        
    <section class="middle" id="middle">
            
                <button href="customer" class="btn_1">View All customers</button>
            <button class="btn_2">Transfer History</button>
            
    </section>

    <footer class="end">
        <div class="end_list">Copyright @2021 by Avijit </div>
    </footer>
        
</body>
</html> -->